In [1]:
import site
import ast
import sys
sys.path.append('../')
from Orion.orion.evaluation import CONTEXTUAL_METRICS as METRICS
from Orion.orion.evaluation import contextual_confusion_matrix
from functools import partial
from Orion.orion.benchmark import _summarize_results_datasets
import os
import pandas as pd
from orion.benchmark import benchmark


site.addsitedir('Orion/')
site.addsitedir('MLPrimitives/')

S3_URL = 'https://{}.s3.amazonaws.com/{}'
BUCKET = 'd3-ai-orion'



BENCHMARK_DATA = pd.read_csv(S3_URL.format(
    BUCKET, 'datasets.csv'), index_col=0, header=None).applymap(ast.literal_eval).to_dict()[1]



pipelines = [
    'deepar'
]

# hyperparamters = {'MSL':{ 
# "orion.primitives.mssa.mSSATAD#1" :{'rank':50}}}

del METRICS['accuracy']
METRICS['confusion_matrix'] = contextual_confusion_matrix
metrics = {k: partial(fun, weighted=False) for k, fun in METRICS.items()}

In [ ]:
data = {'YAHOOA2': BENCHMARK_DATA['YAHOOA2']}

for key in BENCHMARK_DATA:
    print(key)
    if key in {'SMAP','MSL'}:
        
        data = {key: BENCHMARK_DATA[key]}
        datasets_names = '_'.join(list(data.keys()))
        scores = benchmark(pipelines=pipelines, datasets=data, metrics=metrics, rank='f1')
        scores.to_csv(f'results/scores_{pipelines[0]}_{datasets_names}.csv')
        summary = _summarize_results_datasets(scores, metrics)
        summary.to_csv(f'results/summary_{pipelines[0]}_{datasets_names}.csv')

Starting dataset SMAP with 53 signals..
HYPERPARAMS None
Scoring pipeline deepar on signal P-1 (test split: True)

SMAP

INFO:gluonts.mx.context:Using CPU
INFO:gluonts.trainer:Start model training
INFO:gluonts.trainer:Epoch[0] Learning rate is 0.001
  0%|          | 0/50 [00:00<?, ?it/s]INFO:numexpr.utils:NumExpr defaulting to 4 threads.

TRAIN:         timestamp     value
0     1222819200 -0.523155
1     1222840800 -0.688857
2     1222862400 -0.554993
3     1222884000 -0.531114
4     1222905600 -0.589001
...          ...       ...
2867  1284746400 -0.691751
2868  1284768000 -0.704052
2869  1284789600 -0.725760
2870  1284811200 -0.689580
2871  1284832800 -0.709841

[2872 rows x 2 columns]
TEST:         timestamp     value
0     1284854400 -0.695162
1     1284876000 -0.685704
2     1284897600 -0.725719
3     1284919200 -0.761368
4     1284940800 -0.745362
...          ...       ...
8500  1468454400  0.293561
8501  1468476000  0.341579
8502  1468497600 -0.316115
8503  1468519200 -0.297199
8504  1468540800 -0.732266

[8505 rows x 2 columns]
start fit
(2872, 1)
learning rate from ``lr_scheduler`` has been overwritten by ``learning_rate`` in optimizer.

INFO:gluonts.trainer:Number of parameters in DeepARTrainingNetwork: 27644
100%|██████████| 50/50 [00:10<00:00,  4.64it/s, epoch=1/20, avg_epoch_loss=0.412]
INFO:gluonts.trainer:Epoch[0] Elapsed time 10.780 seconds
INFO:gluonts.trainer:Epoch[0] Evaluation metric 'epoch_loss'=0.411970
INFO:gluonts.trainer:Epoch[1] Learning rate is 0.001
  0%|          | 0/50 [00:00<?, ?it/s]

In [24]:
scores

,pipeline,rank,f1,recall,precision,confusion_matrix,status,elapsed,split,dataset,signal
0,deepar,1,1.0,1.0,1.000000,"(None, 0, 0, 2)",OK,164.670862,False,YAHOOA2,synthetic_85
1,deepar,2,1.0,1.0,1.000000,"(None, 0, 0, 3)",OK,148.586677,False,YAHOOA2,synthetic_56
2,deepar,3,1.0,1.0,1.000000,"(None, 0, 0, 3)",OK,142.820005,False,YAHOOA2,synthetic_95
3,deepar,4,1.0,1.0,1.000000,"(None, 0, 0, 1)",OK,146.866981,False,YAHOOA2,synthetic_81
4,deepar,5,1.0,1.0,1.000000,"(None, 0, 0, 2)",OK,141.555766,False,YAHOOA2,synthetic_25
...,...,...,...,...,...,...,...,...,...,...,...
95,deepar,96,0.5,1.0,0.333333,"(None, 2, 0, 1)",OK,150.987086,False,YAHOOA2,synthetic_3
96,deepar,97,0.5,1.0,0.333333,"(None, 2, 0, 1)",OK,188.038545,False,YAHOOA2,synthetic_36
97,deepar,98,0.5,1.0,0.333333,"(None, 2, 0, 1)",OK,183.012685,False,YAHOOA2,synthetic_60
98,deepar,99,0.5,1.0,0.333333,"(None, 2, 0, 1)",OK,192.476832,False,YAHOOA2,synthetic_63
99,deepar,100,NaN,0.0,0.000000,"(None, 3, 1, 0)",OK,165.861700,False,YAHOOA2,synthetic_54

In [25]:
scores.to_csv(f'results/scores_{pipelines[0]}_{datasets_names}.csv')
summary = _summarize_results_datasets(scores, metrics)
datasets_names = '_'.join(list(data.keys()))
summary.to_csv(f'results/summary_{pipelines[0]}_{datasets_names}.csv')

In [26]:
summary

   dataset pipeline  fp  fn   tp        f1
0  YAHOOA2   deepar  59   1  199  0.868996

In [15]:
datasets_names

'YAHOOA1'